.donation-meter {
  margin-left: 150px;
  width: 100px;
  margin:0 auto;
}
.donation-meter .glass {
  background: #e5e5e5;
  border-radius: 100px 100px 0 0;
  display: block;
  height: 1000px;
  margin: 0 35px 10px;
  padding: 5px;
  position: relative;
  width: 20px;
  box-sizing:initial !important;
}
.donation-meter .amount {
  background: #f34e54;
  border-radius: 100px;
  display: block;
  width: 20px;
  height: 0px;
  position: absolute;
  bottom: 5px;
  transition-property: height;
  transition-duration: 4s;
  transition-timing-function: linear;
  transition-delay: 0.1s;
}
.donation-meter .raiseThermo {
  height: 90%;
}
.donation-meter strong {
  display: block;
  text-align: center;
}
.donation-meter .goal {
  font-size: 30px;
  margin-bottom: 20px;
}
.donation-meter .total {
  font-size: 16px;
  position: absolute;
  right: 35px;
}

.marker {
  border-bottom: 1px solid black;
  width: 100px;
}

#current-total {
  margin-bottom: 40px;
}

.donation-meter .donation {
  right: -250px !important;
  width: 250px;
  border-bottom: 1px solid black;
  text-align: right;
  color: white;
  transition: 0.8s;
      &:hover {
          color:black;
      }
}

.donation-amount {
  font-weight: 300;
  color:black;
}

.bulb {
  background: #e5e5e5;
  border-radius: 100px;
  display: block;
  height: 50px;
  margin: 0 35px 10px;
  padding: 5px;
  position: relative;
  top: -20px;
  right: 15px;
  width: 50px;
  box-sizing: initial!important;
}
.bulb .red-circle {
  background: #f34e54;
  border-radius: 100px;
  display: block;
  height: 50px;
  width: 50px;
}
.bulb .filler {
  background: #f34e54;
  border-radius: 100px 100px 0 0;
  display: block;
  height: 20px;
  width: 20px;
  position: relative;
  top: -65px;
  right: -15px;
  z-index: 30;
}

